html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal .80em arial, sans-serif;
  background: #EEEEEE;
  color: #000;}

p
{ padding: 0 0 20px 0;
  line-height: 1.7em;
  letter-spacing: -1px;
  font-size: 125% }

tt
{ padding: 0 0 20px 0;
  line-height: 1.7em;
  letter-spacing: -1px;
  font-size: 125% }

img
{ border: 0;}



h1, h2, h3, h4, h5, h6 
{ font: bold 175% arial, sans-serif;
  color: #346590;
  letter-spacing: -1px;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;}

h1
{color: #346590;}

h2
{ font: bold 165% arial, sans-serif;}

h3
{ font: normal 125% arial, sans-serif;
  padding: 0 0 5px 0;
  color: #F14E23;}

h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font: bold  150% arial, sans-serif;
#  color: #06C4E6;
  color: #346590;
  line-height: 1.5em;}

h5, h6
{ font: italic 95% arial, sans-serif;
  color: #888;
  padding-bottom: 15px;}

h6
{ color: #362C20;}

a, a:hover
{ background: transparent;
  outline: none;
  text-decoration: underline;
  color: #346590;}

a:hover
{ text-decoration: none;
  color: #346590;}

ul
{ margin: 2px 0 22px 30px;
  line-height: 1.7em;
  #font-style: italic;
  letter-spacing: -1px;
  font-size: 125%;}

ol
{ margin: 2px 0 22px 30px;
  line-height: 1.7em;
  #font-style: italic;
  letter-spacing: -1px;
  font-size: 125%;
}

#ol li
#{ margin: 0 0 11px 0;}

#main, #header, #banner, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#main
{ margin-top: 20px;
  padding-bottom: 20px;
  background: #FFF url(../images/background3.jpg) repeat-x;}

#header
{ background: transparent;
  width: 880px;
  padding: 0px 0 0 0;
  background: transparent;}

#banner
{ width: 880px;
  position: relative;
  height: 115px;
  padding: 0px 0px 0px 0px;
  background: transparent;}

#banner a
{ margin-top: 30px;
  margin-left: 1px;
  float: left;
  font: bold 300% arial;
  letter-spacing: -2px;
  text-decoration: none;
  color: #000;}

#banner img
{ margin-right: 20px;
  float: left;
  width: 95px;
  height: 91px;}


#menubar
{ width: 880px;
  height: 35px;
  margin: 0 auto;
  background: #346590;} 

ul#menu
{ float: left;
  margin:0}

ul#menu li
{ float: left;
  padding: 0 0 0 0px;
  list-style: none;
  margin: 2px 0 0 1px;
  background: #346590;}

ul#menu li a
{ font: normal 110% arial, sans-serif;
  letter-spacing: -1px;
  display: block; 
  float: left; 
  height: 21px;
  padding: 0px 29px 4px 0px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  background: #346590;} 

ul#menu li.selected
{ margin: 2px 0 0 1px;
  background: #346590;}

ul#menu li.selected a, ul#menu li.selected a:hover
{ background: #346590;
  color: #FFF;}

ul#menu li a:hover
{ color: #000;}

#site_content
{ width: 880px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  background: #FFF;} 

.sidebar_container
{ float: right;
  width: 224px;
  padding: 0;}

.sidebar_top
{ float: left;
  width: 224px;
  height: 15px;
  background: url(../images/side_top.png) no-repeat;}

.sidebar_base
{ float: left;
  width: 230px;
  height: 15px;
  background: url(../images/side_base.png) no-repeat;}

.sidebar
{ float: right;
  width: 230px;
  padding: 0;
  background: url(../images/side_back.png) repeat-y;
  margin-top: 20px;
  margin-bottom: 20px;}

.sidebar h4
{ font-size: 125%;}

.sidebar ul li, .sidebar ul li.selected
{ list-style: none; 
  margin: 15px 0;
  padding: 0;}

.sidebar li.selected, .sidebar li:hover
{ color: #5D5D5D;
  text-decoration: none;} 

.sidebar_item
{ padding: 0 0 0 15px;
  width: 201px;}

.sidebar_item h1
{ padding: 20px 0 10px 0;
  margin: 0;}

.content_item
{
  margin-top: 20px;
  margin-bottom: 20px;}

#content
{ text-align: left;
  width: 635px;
  padding: 0;
  margin: 0 20px 0 0;
  float: left;}

#footer
{ width: 880px;
  font: normal 100% arial, sans-serif;
  letter-spacing: -1px;
  line-height: 1.7em;
  height: 60px;
  padding: 15px 0 10px 0;
  text-align: center; 
  background: #7F7F7F;
  color: #FFF;}

#footer a, #footer a:hover
{ color: #FFF;
  background: #7F7F7F;
  text-decoration: underline;}

#footer a:hover
{ text-decoration: none;}

.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 280px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 2px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings .submit
{ font: 100% arial; 
  border: 1px solid; 
  width: 99px; 
  margin: 0 0 0 206px; 
  height: 26px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #3B3B3B; 
  color: #FFF;}

ul.links
{ margin: 0;}

ul.links li
{ list-style: none;
  padding: 8px 0;}

ul.links li a, ul.links li a:hover
{ padding: 0 0 0 28px;
  background: transparent left center;
  color: #06C4E6;
  text-decoration: underline;} 

ul.links li a:hover
{ color: #5D5D5D;
  text-decoration: none;} 

.icon
{ float: left;
  width: 135px;
  text-align: center;
  font: bold 110% arial;
  margin: 0 20px 40px 0;}
  
.client_list
{ float: left;
  width: 33%;
  line-height: 1.7em;
  padding: 10px 0 0 0;}

.believe, .believe_last
{ float: left;
  width: 190px;
  text-align: center;
  font: bold 110% arial;
  margin: 0 25px 40px 0;}

.believe_last
{ margin: 0 0 40px 0;}

#twitter_update_list li 
{ list-style-type: none;
  line-height: 22px;
  margin: 0 0 20px 0;}

#twitter_update_list li
{ background: #F5F5F5;}
 

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-webkit-border-top-left-radius:12px;
	-moz-border-radius-topleft:12px;
	border-top-left-radius:12px;
	-webkit-border-top-right-radius:12px;
	-moz-border-radius-topright:12px;
	border-top-right-radius:12px;
	-webkit-border-bottom-right-radius:12px;
	-moz-border-radius-bottomright:12px;
	border-bottom-right-radius:12px;
	-webkit-border-bottom-left-radius:12px;
	-moz-border-radius-bottomleft:12px;
	border-bottom-left-radius:12px;
	text-indent:0;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:47px;
	line-height:47px;
	width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #528ecc;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
	color: #FFFFFF;
}

.button:active {
	position:relative;
	top:1px;
}
