[Unit]
Description=pgbackman maintenance service

[Service]
User=root
Group=root
Restart=always
ExecStart=/usr/bin/pgbackman_maintenance

[Install]
WantedBy=multi-user.target
