[Unit]
Description=pgbackman alerts service

[Service]
User=pgbackman
Group=pgbackman
Restart=always
ExecStart=/usr/bin/pgbackman_alerts

[Install]
WantedBy=multi-user.target
