Source: pgbackman
Section: database
Priority: optional
Maintainer: Rafael Martinez Guerrero <rafael@e-mc2.net>
Build-Depends: debhelper (>= 9~)
 , python | python-all | python-dev | python-all-dev
 , python-setuptools
Standards-Version: 3.9.8
Homepage: http://www.pgbackman.org/
Vcs-Browser: https://github.com/rafaelma/pgbackman
Vcs-Git: git://github.com/rafaelma/pgbackman.git
X-Python-Version: >= 2.6

Package: pgbackman
Architecture: all
Depends: ${misc:Depends}
 , ${python:Depends}
 , python-psycopg2 (>= 2.4.0)
 , python-argparse
 , at
 , cron
 ,adduser
Description: PostgreSQL Backup Manager
 PgBackMan is a tool for managing PostgreSQL logical backups created
 with pg_dump and pg_dumpall.
 .
 It is designed to manage backups from thousands of databases running
 in multiple PostgreSQL nodes, and it supports a multiple backup
 server topology.
 .
 It also manages role and database configuration information when
 creating a backup of a database. This information is necessary to
 ensure a 100% restoration of a logical backup of a database and the
 elements associated to it.
 .
 PgBackMan is not a tool for managing PITR (Point in time recovery)
 backups. There are several other solutions that can be used for
 managing PITR backups, such as PITRTools, OmniPITR, and Barman.
